<div class="form">
  <div id="iframeEditor">
  </div>
</div>

<script src="<%= Rails.configuration.urlApi %>"></script>

<script type="text/javascript" language="javascript">

    var docEditor;
    var fileName = "<%= @file.file_name %>";
    var fileType = "<%= @file.file_ext.delete('.') %>";

    var innerAlert = function (message) {
        if (console && console.log)
            console.log(message);
    };

    var onReady = function () {
        innerAlert("Document editor ready");
    };

    var onDocumentStateChange = function (event) {
        var title = document.title.replace(/\*$/g, "");
        document.title = title + (event.data ? "*" : "");
    };

    var onRequestEditRights = function () {
        location.href = location.href.replace(RegExp("action=view?&", "i"), "");
    };

    var onError = function (event) {
        if (event)
            innerAlert(event.data);
    };

    var onOutdatedVersion = function (event) {
        location.reload(true);
    };

    var сonnectEditor = function () {

        docEditor = new DocsAPI.DocEditor("iframeEditor",
                {
                    width: "100%",
                    height: "100%",

                    type: "<%= @file.desktop_type  ? 'desktop' : 'embedded' %>",
                    documentType: "<%= @file.document_type %>",
                    document: {
                        title: fileName,
                        url: "<%= @file.file_uri %>",
                        fileType: fileType,
                        key: "<%= @file.key %>",

                        info: {
                            author: "Me",
                            created: "<%= Time.now.to_s %>",
                        },

                        permissions: {
                            edit: "<%= (DocumentHelper.edited_exts.include? @file.file_ext).to_s %>" == "true",
                            download: true,
                        },
                    },
                    editorConfig: {
                        mode: "<%= (DocumentHelper.edited_exts.include? @file.file_ext) && @file.mode != 'view' ? 'edit' : 'view' %>",

                        lang: "en",

                        callbackUrl: "<%= raw @file.callback_url %>",

                        user: {
                            id: "<%= @file.cur_user_host_address %>",
                            name: "John Smith",
                        },

                        embedded: {
                            saveUrl: "<%= @file.file_uri %>",
                            embedUrl: "<%= @file.file_uri %>",
                            shareUrl: "<%= @file.file_uri %>",
                            toolbarDocked: "top",
                        },

                        customization: {
                            about: true,
                            feedback: true,
                            goback: {
                                url: "<%= root_path %>",
                            },
                        },
                    },
                    events: {
                        'onReady': onReady,
                        'onDocumentStateChange': onDocumentStateChange,
                        'onError': onError,
                        'onOutdatedVersion': onOutdatedVersion,
                    },
                });
    };

    if (window.addEventListener) {
        window.addEventListener("load", сonnectEditor);
    } else if (window.attachEvent) {
        window.attachEvent("load", сonnectEditor);
    }

</script>