<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head runat="server">
    @RenderSection("Metatags", required: false)

    <link href="@Url.Content(" ~ /favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("Css", required: false)

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>