<!--*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*-->

<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>ONLYOFFICE™</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/editor.css" />
</head>
<body>
    <div class="form">
        <div id="iframeEditor">
        </div>
    </div>
    <script type="text/javascript" src="<%= apiUrl %>"></script>
    <script type="text/javascript" language="javascript">

        var docEditor;
        var fileName = "<%= file.name %>";
        var fileType = "<%= file.ext %>";

        var innerAlert = function (message) {
            if (console && console.log)
                console.log(message);
        };

        var onReady = function () {
            innerAlert("Document editor ready");
        };

        var onDocumentStateChange = function (event) {
            var title = document.title.replace(/\*$/g, "");
            document.title = title + (event.data ? "*" : "");
        };

        var onRequestEditRights = function () {
            location.href = location.href.replace(RegExp("mode=view\&?", "i"), "");
        };

        var onRequestHistory = function (event) {
            var historyObj = <%- JSON.stringify(history) %> || null;

            docEditor.refreshHistory(
                {
                    currentVersion: "<%= file.version %>",
                    history: historyObj
                });
        };

        var onRequestHistoryData = function (data) {
            var version = data.data;
            var url_arr = "<%= setHistoryData.url %>".split(",");
            var urlDiff_arr = "<%= setHistoryData.urlDiff %>".split(",");

            docEditor.setHistoryData({
                        version: version,
                        url: url_arr[version-1] != "" ? url_arr[version-1]: null,
                        urlDiff: urlDiff_arr[version-1] != "" ? urlDiff_arr[version-1]: null, 
                    });
        };

        var onRequestHistoryClose = function (event){
            document.location.reload();
        };

        var onError = function (event) {
            if (event)
                innerAlert(event.data);
        };

        var connectEditor = function () {

            docEditor = new DocsAPI.DocEditor("iframeEditor",
                {
                    width: "100%",
                    height: "100%",
                    type: "<%= editor.type %>",
                    documentType: "<%= editor.documentType %>",
                    document: {
                        title: fileName,
                        url: "<%= file.uri %>",
                        fileType: fileType,
                        key: "<%= editor.key %>",
                        info: {
                            author: "Me",
                            created: new Date().toDateString(),
                        },
                        permissions: {
                            edit: "<%= editor.isEdit %>" == "true",
                            download: true,
                        }   
                    },
                    editorConfig: {
                        mode: "<%= editor.mode %>",
                        lang: "<%= editor.lang %>",
                        callbackUrl: "<%- editor.callbackUrl %>",
                        user: {
                            id: "<%= editor.userid %>",
                            firstname: "<%= editor.firstname %>",
                            lastname: "<%= editor.lastname %>",
                        },
                        embedded: {
                            saveUrl: "<%= file.uri %>",
                            embedUrl: "<%= file.uri %>",
                            shareUrl: "<%= file.uri %>",
                            toolbarDocked: "top",
                        },
                        customization: {
                            about: true,
                            chat: true,
                            comments: true,
                            feedback: true,
                            goback: {
                                url: ("<%= editor.type %>" == "embedded" ? null : "<%= editor.getServerUrl %>")
                            }
                        }, plugins: {
                            url: '../../../../sdkjs-plugins/', pluginsData: [{
                                name: "chess (fen)", guid: "asc.{FFE1F462-1EA2-4391-990D-4CC84940B754}",

                                variations: [{
                                    description: "chess",
                                    url: "chess/index.html",

                                    icons: ["chess/icon.png", "chess/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: true,
                                    isModal: true,
                                    isInsideMode: false,

                                    initDataType: "ole",
                                    initData: "",

                                    isUpdateOleOnResize: true,

                                    buttons: [{text: "Ok", primary: true}, {text: "Cancel", primary: false}]
                                }, {
                                    description: "about",
                                    url: "chess/index_about.html",

                                    icons: ["chess/icon.png", "chess/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: true,
                                    isModal: true,
                                    isInsideMode: false,

                                    initDataType: "none",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: [{"text": "Ok", "primary": true}]
                                }]
                            }, {
                                name: "glavred", guid: "asc.{B631E142-E40B-4B4C-90B9-2D00222A286E}",

                                variations: [{
                                    description: "glavred",
                                    url: "glavred/index.html",

                                    icons: ["glavred/icon.png", "glavred/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: true,
                                    isModal: true,
                                    isInsideMode: false,

                                    initDataType: "text",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: [{text: "Ok", primary: true}]
                                }]
                            }, {
                                name: "bold", guid: "asc.{14E46CC2-5E56-429C-9D55-1032B596D928}",

                                variations: [{
                                    description: "bold",
                                    url: "bold/index.html",

                                    icons: ["bold/icon.png", "bold/icon@2x.png"],
                                    isViewer: false,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: false,
                                    isModal: false,
                                    isInsideMode: false,

                                    initDataType: "none",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: []
                                }]
                            }, {
                                name: "speech", guid: "asc.{D71C2EF0-F15B-47C7-80E9-86D671F9C595}",

                                variations: [{
                                    description: "speech",
                                    url: "speech/index.html",

                                    icons: ["speech/icon.png", "speech/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: false,
                                    isModal: false,
                                    isInsideMode: false,

                                    initDataType: "text",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: []
                                }]
                            }, {
                                name: "youtube", guid: "asc.{38E022EA-AD92-45FC-B22B-49DF39746DB4}",

                                variations: [{
                                    description: "youtube",
                                    url: "youtube/index.html",

                                    icons: ["youtube/icon.png", "youtube/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: true,
                                    isModal: true,
                                    isInsideMode: false,

                                    initDataType: "ole",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: [{text: "Ok", primary: true}, {text: "Cancel", primary: false}]
                                }]
                            }, {
                                name: "cbr", guid: "asc.{5F9D4EB4-AF61-46EF-AE25-46C96E75E1DD}",

                                variations: [{
                                    description: "cbr",
                                    url: "cbr/index.html",

                                    icons: ["cbr/icon.png", "cbr/icon@2x.png"],
                                    isViewer: false,
                                    EditorsSupport: ["word", "cell", "slide"],
                                    isVisual: false,
                                    isModal: false,
                                    isInsideMode: false,

                                    initDataType: "none",
                                    initData: "",
                                    isUpdateOleOnResize: false,
                                    buttons: []
                                }]
                            }, {
                                name: "ocr(Tesseract.js)",
                                guid: "asc.{440EBF13-9B19-4BD8-8621-05200E58140B}",
                                baseUrl: "",

                                variations: [{
                                    description: "ocr",
                                    url: "ocr/index.html",

                                    icons: ["ocr/icon.png", "ocr/icon@2x.png"],
                                    isViewer: false,
                                    EditorsSupport: ["word"],

                                    isVisual: true,
                                    isModal: false,
                                    isInsideMode: false,

                                    initDataType: "html",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: [{text: "Insert In Document", primary: true},
                                        {text: "Cancel", primary: false}]
                                }]
                            }, {
                                name: "yandextranslate", guid: "asc.{D3E759F7-3947-4BD6-B066-E184BBEDC675}",

                                variations: [{
                                    description: "yandextranslate",
                                    url: "yandextranslate/index.html",

                                    icons: ["yandextranslate/icon.png", "yandextranslate/icon@2x.png"],
                                    isViewer: false,
                                    EditorsSupport: ["word", "cell", "slide"],

                                    isVisual: false,
                                    isModal: false,
                                    isInsideMode: false,

                                    initDataType: "text",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: []
                                }]
                            }, {
                                name: "ClipArt", guid: "asc.{F5BACB61-64C5-4711-AC8A-D01EC3B2B6F1}",

                                variations: [{
                                    description: "ClipArt",
                                    url: "clipart/index.html",

                                    icons: ["clipart/icon.png", "clipart/icon@2x.png"],
                                    isViewer: true,
                                    EditorsSupport: ["word"],

                                    isVisual: true,
                                    isModal: false,
                                    isInsideMode: true,

                                    initDataType: "none",
                                    initData: "",

                                    isUpdateOleOnResize: false,

                                    buttons: [{text: "Ok", primary: true}]
                                }]
                            }]
                        }
                    },
                    events: {
                        "onReady": onReady,
                        "onDocumentStateChange": onDocumentStateChange,
                        'onRequestEditRights': onRequestEditRights,
                        "onError": onError,
                        "onRequestHistory":  onRequestHistory,
                        "onRequestHistoryData": onRequestHistoryData,
                        "onRequestHistoryClose": onRequestHistoryClose
                    }
            });
        };

        if (window.addEventListener) {
            window.addEventListener("load", connectEditor);
        } else if (window.attachEvent) {
            window.attachEvent("load", connectEditor);
        }

    </script>
</body>
</html>
