<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <!--
    *
    * (c) Copyright Ascensio System SIA 2025
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
    *
    -->
    <title>ONLYOFFICE Document Editors</title>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/media.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/media-wopi.css">
</head>

<body>
    <header>
        <div class="center main-nav">
            <a href="./">
                <img src="images/logo.svg" alt="ONLYOFFICE" />
            </a>
        </div>
        <menu class="responsive-nav">
            <li>
                <a href="#" onclick="toggleSidePanel(event)">
                    <img src ="images/mobile-menu.svg" alt="ONLYOFFICE" />
                </a>
            </li>
            <li>
                <a href="./">
                    <img src ="images/mobile-logo.svg" alt="ONLYOFFICE" />
                </a>
            </li>
        </menu>
    </header>
    <div class="center main">
        <table class="table-main">
            <tbody>
                <tr>
                    <td class="left-panel section">
                        <div class="help-block">
                            <span>Create new</span>
                            <div class="clearFix">
                                <div class="create-panel clearFix">
                                    <ul class="try-editor-list clearFix">
                                        <% editNewExts.forEach( type => { %>
                                            <li>
                                                <a class="try-editor <%= type.ext %> reload-page action-link" target="_blank" href="wopi-new?fileExt=<%= type.ext %>" title="Create new <%= type.text %>"><%= type.text %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>

                            <div class="upload-panel clearFix">
                                <a class="file-upload">Upload file
                                    <input type="file" id="fileupload" name="uploadedFile" data-url="upload" />
                                </a>
                            </div>

                            <table class="user-block-table" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td valign="middle">
                                            <span class="select-user">Username</span>
                                            <img id="info" class="info" data-id="user" src="images/info.svg" />
                                            <select class="select-user collectable" name="userid" id="user">
                                                <% users.forEach(user => { %>
                                                    <option value="<%= user.id %>"><%= user.name == null ? "Anonymous" : user.name %></option>
                                                <% }) %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="middle">
                                            <span class="select-user">Language</span>
                                            <img class="info info-tooltip" data-id="language" data-tooltip="Choose the language for ONLYOFFICE editors interface" src="images/info.svg" />
                                            <select class="select-user collectable" name="lang" id="language">
                                                <% Object.keys(languages).forEach(key => { %>
                                                    <option value="<%= key %>"><%= languages[key] %></option>
                                                <% }) %>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="mobile-close-btn" onclick="toggleSidePanel(event)">
                            <img src="images/close.svg" alt="">
                        </button>
                    </td>
                    <td class="section">
                        <div class="main-panel">
                            <menu class="links">
                                <li class="home-link" >
                                    <a href="./">
                                        <img src="images/home.svg" alt="Home"/>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="wopi">WOPI</a>
                                </li>
                                <% if (enableForgotten) { %>
                                    <li>
                                        <a href="forgotten">Forgotten files</a>
                                    </li>
                                <% } %>
                            </menu>
                            <div id="portal-info" style="display: <%= storedFiles.length > 0 ? "none" : "table-cell" %>">
                            <% if (!wopiEnable)
                               { %>
                                <span class="portal-name">Welcome to ONLYOFFICE Docs!</span>
                                <span class="portal-descr"></span>
                                <span class="portal-descr">Before launching the demo, make sure the WOPI protocol is enabled.</span>
                                <span class="portal-descr">To do this, set the <code>wopi.enable</code> parameter to <code>true</code> in the ONLYOFFICE Docs configuration file and restart the Document Server.</span>
                                <span class="portal-descr">⚠️ The WOPI protocol is required for communication between ONLYOFFICE Docs and third-party platforms that support WOPI.</span>
                            <% }
                               else
                               { %>
                                <span class="portal-name">Welcome to ONLYOFFICE Docs!</span>
                                <span class="portal-descr">Get started with a live demo of ONLYOFFICE Docs, a powerful open-source office suite for your browser.</span>
                                <span class="portal-descr">
                                    You can test editing features in real-time and explore multi-user collaboration:
                                    <ul>
                                        <li>Create a new Document, Spreadsheet, Presentation, or PDF Form or use the sample files</li>
                                        <li>Upload your own files to test using the Upload file button</li>
                                        <li>Select your username and language to simulate different users and environments</li>
                                        <li>Try real-time collaboration by opening the same document using different users in different Web browser sessions</li>
                                    </ul>
                                </span>
                                <span class="portal-descr">⚠️ This example is intended for testing purposes only. Do not use it on a production server without proper code modifications. If you have enabled this test demo, please disable it before deploying the editors in production.</span>
                            <% } %>
                            </div>
                        <% if (storedFiles.length > 0)
                            { %>
                                <div class="stored-list">
                                    <div class="storedHeader">
                                        <div class="storedHeaderText">
                                            <span class="header-list">Your documents</span>
                                        </div>
                                        <div class="storedHeaderClearAll">
                                            <div class="clear-all">Clear all</div>
                                        </div>
                                    </div>
                                    <table class="tableHeader" cellspacing="0" cellpadding="0" width="100%">
                                        <thead>
                                        <tr>
                                            <td class="tableHeaderCell tableHeaderCellFileName">Filename</td>
                                            <td class="tableHeaderCell tableHeaderCellEditors contentCells-shift"></td>
                                            <td class="tableHeaderCell tableHeaderCellViewers">WOPI Actions</td>
                                            <td class="tableHeaderCell tableHeaderCellDownload">Download</td>
                                            <td class="tableHeaderCell tableHeaderCellRemove">Remove</td>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="scroll-table-body">
                                        <table cellspacing="0" cellpadding="0" width="100%">
                                            <tbody>
                                            <% for (var i = 0; i < storedFiles.length; i++) { %>
                                                <tr class="tableRow" title="<%= storedFiles[i].name %> [<%= storedFiles[i].version %>]">
                                                    <td class="contentCells">
                                                        <% if (storedFiles[i].defaultAction) { %>
                                                        <a class="stored-edit <%= storedFiles[i].documentType %> action-link" href="wopi-action/<%= encodeURIComponent(storedFiles[i].name) %>?action=<%= storedFiles[i].defaultAction.name %>" target="_blank">
                                                            <%} else { %>
                                                            <a class="stored-edit <%= storedFiles[i].documentType %>" href="#">
                                                                <% } %>
                                                                <span title="<%= storedFiles[i].name %> [<%= storedFiles[i].version %>]"><%= storedFiles[i].name %></span>
                                                            </a>
                                                    </td>
                                                    <% if (storedFiles[i].actions && storedFiles[i].actions.length > 0) { %>
                                                        <td class="contentCells contentCells-wopi contentCells-shift">
                                                            <% for (var j = 0; j < storedFiles[i].actions.length; j++) { %>
                                                                <a class="action-link" href="wopi-action/<%= encodeURIComponent(storedFiles[i].name) %>?action=<%= storedFiles[i].actions[j].name %>" target="_blank">
                                                                    <img
                                                                        src="images/wopi-<%= storedFiles[i].actions[j].name %>.svg"
                                                                        alt="<%= storedFiles[i].actions[j].name %>" title="<%= storedFiles[i].actions[j].name %>" />
                                                                </a>
                                                            <% } %>
                                                        </td>
                                                    <% } %>
                                                    <td class="contentCells contentCells-icon contentCells-shift downloadContentCells">
                                                        <a href="wopi/files/<%= encodeURIComponent(storedFiles[i].name) %>/contents">
                                                            <img class="icon-download" src="images/download.svg" alt="Download" title="Download" /></a>
                                                    </td>
                                                    <td class="contentCells contentCells-icon contentCells-shift">
                                                        <a class="delete-file" data="<%= encodeURIComponent(storedFiles[i].name) %>">
                                                            <img class="icon-action" src="images/delete.svg" alt="Delete" title="Delete" /></a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="mainProgress">
        <div id="uploadSteps">
            <span id="uploadFileName" class="uploadFileName"></span>
            <div class="describeUpload">After these steps are completed, you can work with your document.</div>
            <span id="step1" class="step">1. Loading the file.</span>
            <span class="step-descr">The loading speed depends on file size and additional elements it contains.</span>
            <br />
            <span id="step2" class="step">2. Conversion.</span>
            <span class="step-descr">The file is converted to OOXML so that you can edit it.</span>
            <br />
            <div id="blockPassword">
                <span class="descrFilePass">The file is password protected.</span>
                <br />
                <div>
                    <input id="filePass" type="password"/>
                    <div id="enterPass" class="button orange">Enter</div>
                    <div id="skipPass" class="button gray">Skip</div>
                </div>
                <span class="errorPass"></span>
                <br />
            </div>
            <input type="hidden" name="hiddenFileName" id="hiddenFileName" />
            <span class="progress-descr">Note the speed of all operations depends on your connection quality and server location.</span>
            <br />
            <br />
            <div class="error-message">
                <b>Upload error: </b><span></span>
                <br />
                Please select another file and try again.
            </div>
        </div>
        <br />
        <div id="beginEdit" class="button orange disable">Edit</div>
        <div id="beginView" class="button gray disable">View</div>
        <div style="visibility: hidden;" id="disable" class="button gray disable">Embedded view</div>
        <div id="cancelEdit" class="button gray">Cancel</div>
    </div>

    <span id="loadScripts" data-docs="<%= preloaderUrl %>"></span>

    <footer>
        <div class="center">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://api.onlyoffice.com/docs/docs-api/get-started/how-it-works/" target="_blank">API Documentation</a>
                        </td>
                        <td>
                            <a href="mailto:sales@onlyoffice.com">Submit your request</a>
                        </td>
                        <td class="copy">
                            &copy; Ascensio Systems SIA 2025. All rights reserved.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </footer>

    <script type="text/javascript" src="javascripts/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-migrate-3.4.1.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="javascripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="javascripts/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="javascripts/jquery.dropdownToggle.js"></script>
    <script type="text/javascript" src="javascripts/formats.js"></script>
    <script type="text/javascript" src="javascripts/jscript.js"></script>

    <script type="text/javascript">
        var UrlConverter = "convert";
        var UrlEditor = "wopi-action";
    </script>
</body>

</html>
